
h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.link-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px; 
    height: 400px;    /*표 크기*/
}

.chart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: #3A5AFE;
    text-align: center;
    margin-top: 30px;
}

.btn-detail {
    background-color: #D5E5FF;
    color: #344BFD;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-detail:hover {
    background-color: #b5c8f5;
}

.home-button {
    background-color: #f0f0f0;
    color: #007BFF;
    border: 1px solid #007BFF;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #d0d0d0;
}


.chart-comment {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
  }